Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2021-12, with the labels that each got.

#83 Add methods to manipulate message attachments
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Context/InteractionContext.cs
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Entities/Message/DiscordAttachment.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
  DisCatSharp/Entities/Message/DiscordMessageBuilder.cs
  DisCatSharp/Entities/Webhook/DiscordWebhook.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestChannelPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core, v9.X

#85 DisCatSharp.Common.RegularExpressions
  DisCatSharp.CommandsNext/CommandsNextExtension.cs
  DisCatSharp.CommandsNext/CommandsNextUtilities.cs
  DisCatSharp.CommandsNext/Converters/EntityConverters.cs
  DisCatSharp.CommandsNext/Converters/TimeConverters.cs
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj
  DisCatSharp.Common/RegularExpressions/CommonRegEx.cs
  DisCatSharp.Common/RegularExpressions/DiscordRegEx.cs
Labels: enhancement, v9.X

#88 T104
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Net/Rest/RestClient.cs
Labels: enhancement, core, v9.X

#91 Support for Modal Interactivity & a few other things
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandGroupAttribute.cs
  DisCatSharp.Interactivity/EventHandling/Components/ComponentPaginator.cs
  DisCatSharp.Interactivity/EventHandling/Components/ModalEventWaiter.cs
  DisCatSharp.Interactivity/EventHandling/Components/Requests/ModalMatchRequest.cs
  DisCatSharp.Interactivity/InteractivityExtension.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/DisCatSharp.csproj
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Interaction/Components/Text/DiscordTextComponent.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Models/ApplicationCommandEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core, nuget, v9.X

#94 T109 default help for slash commands
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Workers/ApplicationCommandWorker.cs
  DisCatSharp.ApplicationCommands/Workers/PermissionWorker.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Labels: enhancement, core, v9.X
