Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2021-11, with the labels that each got.

#56 Adjusted DiscordHostedService Initialization Approach
  DisCatSharp.Hosting/DiscordHostedService.cs
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/DiscordConfiguration.cs
Labels: enhancement, dependencies, core, v9.X

#60 [ci skip] docs preview
  .github/workflows/docs-preview.yml
  .gitignore
  ci_oneclick-rebuild-docs.ps1
Labels: documentation, enhancement

#62 Implement raw request
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Labels: enhancement, core, v9.X

#74 Fix of threadchannelmember.member
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Thread/DiscordThreadChannelMember.cs
Labels: bug, core, v9.X

#75 Add Timeout function
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core, v9.X

#79 added templates documentation
  DisCatSharp.Docs/articles/basics/templates.md
  DisCatSharp.Docs/articles/important_changes/9_8_4.md
  DisCatSharp.Docs/articles/toc.yml
  DisCatSharp.Docs/images/pt_nuget_install.png
  DisCatSharp.Docs/images/pt_project_new.png
  DisCatSharp.Docs/images/pt_project_new_classification.png
  DisCatSharp.Docs/images/pt_project_new_name.png
  DisCatSharp.Docs/images/pt_project_new_options.png
  DisCatSharp.Docs/images/pt_scaffolded.png
Labels: documentation

#81 Add support for file description (aka. Alt Text)
  DisCatSharp/Entities/Interaction/DiscordFollowupMessageBuilder.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
  DisCatSharp/Entities/Message/DiscordMessageBuilder.cs
  DisCatSharp/Entities/Message/DiscordMessageFile.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestWebhookPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/RestClient.cs
Labels: enhancement, core, v9.X

#68 Update ratelimit metadata
  DisCatSharp/Net/Rest/RateLimitBucket.cs
  DisCatSharp/Net/Rest/RestClient.cs
Labels: enhancement, core, v9.X

#82 Fix img desc
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Hosting.DependencyInjection/DisCatSharp.Hosting.DependencyInjection.csproj
  DisCatSharp.Hosting/DisCatSharp.Hosting.csproj
  DisCatSharp.Hosting/GlobalSuppressions.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionApplicationCommandCallbackData.cs
  DisCatSharp/Entities/Message/DiscordAttachment.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
  DisCatSharp/Net/Rest/MultipartWebRequest.cs
  DisCatSharp/Net/Rest/RestClient.cs
Labels: enhancement, core, v9.X
