Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-06, with the labels that each got.

#145 Implement Auto-Custom ID for Modals
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
Labels: on-hold, core, v10

#167 Proper exception log when registering app commands fails
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Labels: bug

#168 Fix ChannelFlagsChange Cast & NullReference
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Enums/Guild/AuditLogActionType.cs
Labels: bug, core
