Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-08, with the labels that each got.

#178 Implement resume gateway url
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.WebSocket.cs
  DisCatSharp/Net/Abstractions/ReadyPayload.cs
Labels: enhancement, on-hold, core, v10

#144 Forum Channel Stuff
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Thread/DiscordThreadChannel.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Net/Abstractions/Rest/RestWebhookPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: documentation, enhancement, on-hold, core, v10, experimental

#182 Added Forum Tags
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
  DisCatSharp/Entities/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Net/Abstractions/Rest/RestChannelPayloads.cs
  DisCatSharp/Net/Models/ThreadEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: core

#183 Forum tag changes
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Guild/DiscordAuditLogObjects.cs
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: core

#185 Fix tags initialization
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: core

#188 Fix webhooks for threads
  DisCatSharp/Entities/Channel/DiscordChannel.cs
Labels: core
