Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-05, with the labels that each got.

#134 feat: Paginated Modals
  DisCatSharp.Interactivity/Enums/Modal/ModalPage.cs
  DisCatSharp.Interactivity/Enums/Modal/PaginatedModalResponse.cs
  DisCatSharp.Interactivity/Extensions/InteractionExtensions.cs
Labels: documentation, enhancement, core, v10

#135 [Experimental] Application Commands Module Fix
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/GlobalSuppressions.cs
Labels: bug, core, v10

#141 Abillity to mark application commands as NSFW
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/ContextMenu/ContextMenuAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandAttribute.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/SlashCommandGroupAttribute.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Models/ApplicationCommandEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: enhancement, core, v10

#150 Fix Spell Errors
  CONTRIBUTING.md
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.CommandsNext/CommandsNextExtension.cs
  DisCatSharp.Docs/articles/application_commands/intro.md
  DisCatSharp.Docs/articles/application_commands/options.md
  DisCatSharp.Docs/articles/application_commands/paginated_modals.md
  DisCatSharp.Docs/articles/application_commands/translations/reference.md
  DisCatSharp.Docs/articles/application_commands/translations/using.md
  DisCatSharp.Docs/articles/basics/first_bot.md
  DisCatSharp.Docs/articles/beyond_basics/components/buttons.md
  DisCatSharp.Docs/articles/beyond_basics/components/select_menus.md
  DisCatSharp.Docs/articles/beyond_basics/intents.md
  DisCatSharp.Docs/articles/hosting.md
  DisCatSharp.Docs/articles/important_changes/9_8_2.md
  DisCatSharp.Docs/articles/important_changes/9_8_3.md
  DisCatSharp.Docs/dcs/partials/title.tmpl.partial
  DisCatSharp.Docs/dcs/styles/colors.css
  DisCatSharp.Docs/dcs/styles/main.css
  DisCatSharp.Docs/faq.md
  DisCatSharp.Docs/index.md
  DisCatSharp.VoiceNext/Codec/Interop.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DiscordIntents.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Color/DiscordColor.Colors.cs
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
  DisCatSharp/Entities/Guild/DiscordGuild.Features.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Interaction/Components/Text/DiscordTextComponent.cs
  DisCatSharp/Net/Rest/RestClient.cs
  _typos.toml
  rebuild-docs.ps1
Labels: bug, documentation, dependencies, core

#152 Updated the documentation of the Application Commands Configuration
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
Labels: documentation

#155 Update docs.yml
  .github/workflows/docs.yml
Labels: ci/cd

#157 Fix Docs
  .github/workflows/docs.yml
  .github/workflows/dotnet.yml
  Add7ZipCmd.ps1
  DisCatSharp.ApplicationCommands/global.json
  DisCatSharp.CommandsNext/global.json
  DisCatSharp.Common/global.json
  DisCatSharp.Configuration.Tests/global.json
  DisCatSharp.Configuration/global.json
  DisCatSharp.Docs/dcs/plugins/DisCatSharp.DocFx.CustomMemberIndexer.deps.json
  DisCatSharp.Docs/dcs/plugins/DisCatSharp.DocFx.CustomMemberIndexer.dll
  DisCatSharp.EventHandlers.Tests/global.json
  DisCatSharp.Hosting.DependencyInjection/global.json
  DisCatSharp.Hosting.Tests/global.json
  DisCatSharp.Hosting/global.json
  DisCatSharp.Interactivity/global.json
  DisCatSharp.Lavalink/global.json
  DisCatSharp.Tests/global.json
  DisCatSharp.VoiceNext.Natives/global.json
  DisCatSharp.VoiceNext/global.json
  DisCatSharp/global.json
  global.json
  rebuild-docs.ps1
Labels: documentation

#160 Raw API for docs
  DisCatSharp.Docs/docfx.json
Labels: documentation, enhancement

#162 Optimized Suff
  .gitignore
  DisCatSharp.ApplicationCommands/GlobalSuppressions.cs
  DisCatSharp.CommandsNext/GlobalSuppressions.cs
  DisCatSharp.Configuration.Tests/DisCatSharp.Configuration.Tests.csproj
  DisCatSharp.Configuration/DisCatSharp.Configuration.csproj
  DisCatSharp.Hosting.Tests/DisCatSharp.Hosting.Tests.csproj
  DisCatSharp.Interactivity/EventHandling/Components/Requests/InteractionPaginationRequest.cs
  DisCatSharp.Interactivity/EventHandling/Paginator.cs
  DisCatSharp.Interactivity/GlobalSuppressions.cs
  DisCatSharp.Lavalink/GlobalSuppressions.cs
  DisCatSharp.VoiceNext/GlobalSuppressions.cs
  DisCatSharp.VoiceNext/VoiceNextConnection.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/GlobalSuppressions.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Utilities.cs
Labels: dependencies, core
