Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-11, with the labels that each got.

#224 Automod implementation
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.EventHandlers.cs
  DisCatSharp/Clients/DiscordClient.Events.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.Events.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Guild/Automod/AutomodAction.cs
  DisCatSharp/Entities/Guild/Automod/AutomodActionMetadata.cs
  DisCatSharp/Entities/Guild/Automod/AutomodRule.cs
  DisCatSharp/Entities/Guild/Automod/AutomodTriggerMetadata.cs
  DisCatSharp/Entities/Guild/DiscordGuild.AuditLog.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/Stage/DiscordStageInstance.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannelMember.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadChannelMetadata.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/DiscordThreadResult.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/ForumPostTag.cs
  DisCatSharp/Entities/Guild/ThreadAndForum/ForumReactionEmoji.cs
  DisCatSharp/Entities/Guild/Widget/DiscordWidget.cs
  DisCatSharp/Entities/Guild/Widget/DiscordWidgetMember.cs
  DisCatSharp/Entities/Guild/Widget/DiscordWidgetSettings.cs
  DisCatSharp/Enums/DiscordEvent.cs
  DisCatSharp/Enums/DiscordIntents.cs
  DisCatSharp/Enums/Guild/Automod/AutomodActionType.cs
  DisCatSharp/Enums/Guild/Automod/AutomodEventType.cs
  DisCatSharp/Enums/Guild/Automod/AutomodKeywordPresetType.cs
  DisCatSharp/Enums/Guild/Automod/AutomodTriggerType.cs
  DisCatSharp/Enums/Guild/ScheduledEvent/ScheduledEventEntityType.cs
  DisCatSharp/Enums/Guild/ScheduledEvent/ScheduledEventPrivacyLevel.cs
  DisCatSharp/Enums/Guild/ScheduledEvent/ScheduledEventStatus.cs
  DisCatSharp/Enums/Guild/Stage/StagePrivacyLevel.cs
  DisCatSharp/Enums/Guild/ThreadAndForum/ForumLayout.cs
  DisCatSharp/Enums/Guild/ThreadAndForum/ForumPostSortOrder.cs
  DisCatSharp/Enums/Guild/ThreadAndForum/ThreadAutoArchiveDuration.cs
  DisCatSharp/Enums/Guild/ThreadAndForum/ThreadMemberFlags.cs
  DisCatSharp/Enums/OAuth.cs
  DisCatSharp/EventArgs/Guild/Automod/AutomodActionExecutedEventArgs.cs
  DisCatSharp/EventArgs/Guild/Automod/AutomodCreateRuleEventArgs.cs
  DisCatSharp/EventArgs/Guild/Automod/AutomodDeleteRuleEventArgs.cs
  DisCatSharp/EventArgs/Guild/Automod/AutomodUpdateRuleEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadCreateEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadDeleteEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadListSyncEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadMemberUpdateEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadMembersUpdateEventArgs.cs
  DisCatSharp/EventArgs/Guild/Thread/ThreadUpdateEventArgs.cs
  DisCatSharp/Net/Abstractions/Rest/RestAutomodRuleModifyPayload.cs
  DisCatSharp/Net/Models/AutomodRuleEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: documentation, enhancement, core

#223 Enhancements
  DisCatSharp/Entities/Guild/ThreadAndForum/ForumPostTag.cs
  DisCatSharp/Entities/NullableSnowflakeObject.cs
  DisCatSharp/Utilities.cs
Labels: core

#238 Add IsActiveDeveloper to DiscordUser
  DisCatSharp/Entities/User/DiscordUser.cs
Labels: core

#240 Implement role connections
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplication.cs
  DisCatSharp/Entities/Application/DiscordApplicationRoleConnectionMetadata.cs
  DisCatSharp/Enums/Application/ApplicationRoleConnectionMetadataType.cs
  DisCatSharp/Enums/OAuth.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Abstractions/Transport/TransportApplication.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Labels: enhancement, core, v10

#239 New/exp
  DisCatSharp.ApplicationCommands/Properties/AssemblyProperties.cs
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj
  DisCatSharp.Attributes/ExperimentalAttribute.cs
  DisCatSharp.Attributes/Properties/AssemblyProperties.cs
  DisCatSharp.CommandsNext/Converters/ArgumentBindingResult.cs
  DisCatSharp.CommandsNext/Entities/CommandHelpMessage.cs
  DisCatSharp.CommandsNext/EventArgs/CommandContext.cs
  DisCatSharp.CommandsNext/Properties/AssemblyProperties.cs
  DisCatSharp.Common/Properties/AssemblyProperties.cs
  DisCatSharp.Docs/docfx.json
  DisCatSharp.Docs/toc.yml
  DisCatSharp.Docs/vs/analyzer/dcs/0001.md
  DisCatSharp.Docs/vs/index.md
  DisCatSharp.Docs/vs/toc.yml
  DisCatSharp.Experimental/DisCatSharp.Experimental.csproj
  DisCatSharp.Experimental/DisCatSharp.cs
  DisCatSharp.Experimental/DiscordApiClientHook.cs
  DisCatSharp.Experimental/GlobalSuppressions.cs
  DisCatSharp.Experimental/Program.cs
  DisCatSharp.Interactivity/Properties/AssemblyProperties.cs
  DisCatSharp.Lavalink/Entities/LavalinkEqualizerTypes.cs
  DisCatSharp.Lavalink/Properties/AssemblyProperties.cs
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/DisCatSharp.Analyzer.VSIX.csproj
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/LICENSE.md
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/Properties/AssemblyInfo.cs
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/logobig.png
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/source.extension.cs
  DisCatSharp.Tools/DisCatSharp.Analytics.VSIX/source.extension.vsixmanifest
  DisCatSharp.Tools/DisCatSharp.Analyzer/.editorconfig
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/DisCatSharp.Analyzer.Package.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/README.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/tools/install.ps1
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer.Package/tools/uninstall.ps1
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AnalyzerReleases.Shipped.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AnalyzerReleases.Unshipped.md
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/AttributeAnalyzer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.Designer.cs
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/Resources.resx
  DisCatSharp.Tools/DisCatSharp.Tools.sln
  DisCatSharp.Tools/DisCatSharp.ruleset
  DisCatSharp.VoiceNext/AudioFormat.cs
  DisCatSharp.VoiceNext/Properties/AssemblyProperties.cs
  DisCatSharp.sln
  DisCatSharp/Entities/Application/DiscordRpcApplication.cs
  DisCatSharp/Entities/Color/DiscordColor.Colors.cs
  DisCatSharp/Entities/User/DiscordUser.cs
  DisCatSharp/Enums/Application/ApplicationFlags.cs
  DisCatSharp/Enums/Guild/Automod/AutomodActionType.cs
  DisCatSharp/EventArgs/Guild/Automod/AutomodActionExecutedEventArgs.cs
  DisCatSharp/GlobalSuppressions.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationCommandPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Properties/AssemblyProperties.cs
  _typos.toml
Labels: documentation, dependencies, core
