Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-07, with the labels that each got.

#171 Update DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Labels: core

#172 Bypass message cache
  DisCatSharp/Entities/Channel/DiscordChannel.cs
Labels: core

#173 Support for shard slash commands!
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/ExtensionMethods.cs
  DisCatSharp.ApplicationCommands/Workers/RegistrationWorker.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionData.cs
  README.md
Labels: bug, enhancement, core, v10

#174 Stuff fixed while working on Hatsune Miku
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Attributes/SlashCommand/RequireNsfwAttribute.cs
  DisCatSharp.ApplicationCommands/Checks/ApplicationCommandEqualityChecks.cs
  DisCatSharp.ApplicationCommands/ExtensionMethods.cs
  DisCatSharp.ApplicationCommands/GlobalSuppressions.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Clients/DiscordShardedClient.cs
  DisCatSharp/Entities/Guild/DiscordMember.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
  DisCatSharp/Enums/Application/ApplicationFlags.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: bug, enhancement, v10
