Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-10, with the labels that each got.

#201 Add try variants to all getter methods
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Entities/Webhook/DiscordWebhook.cs
Labels: core, hacktoberfest-accepted

#208 Hacktoberfest Task 4
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Enums/Invite/TargetActivity.cs
  DisCatSharp/Net/Abstractions/Rest/RestChannelPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: core, hacktoberfest-accepted

#209 Add Voice Activities Article
  DisCatSharp.Docs/articles/misc/voice_activities.md
  DisCatSharp.Docs/articles/toc.yml
Labels: documentation, hacktoberfest-accepted

#212 Fetch widget
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: bug, enhancement, core, hacktoberfest-accepted

#213 Fixed ModifyCommunitySettingsAsync
  DisCatSharp/Entities/Guild/DiscordGuild.cs
Labels: core

#214 Hacktoberfest Task 5
  DisCatSharp/Entities/Guild/DiscordGuild.Features.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/DiscordRole.cs
  DisCatSharp/Entities/ThreadAndForum/DiscordThreadChannel.cs
  DisCatSharp/Utilities.cs
Labels: core, hacktoberfest-accepted

#198 Forum use channel patch
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/ThreadAndForum/ForumPostTag.cs
  DisCatSharp/Net/Abstractions/Rest/RestChannelPayloads.cs
  DisCatSharp/Net/Models/ForumChannelEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
Labels: core

#218 Added Support for User, Role, Channel and Snowflake Selects
  DisCatSharp.Interactivity/Extensions/MessageExtensions.cs
  DisCatSharp.Interactivity/InteractivityExtension.cs
  DisCatSharp/Entities/Channel/DiscordChannel.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordBaseSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordChannelSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordMentionableSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordRoleSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordStringSelectComponent.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordStringSelectComponentOption.cs
  DisCatSharp/Entities/Interaction/Components/Select/DiscordUserSelectComponent.cs
  DisCatSharp/Entities/Interaction/DiscordInteractionModalBuilder.cs
  DisCatSharp/Enums/Interaction/ComponentType.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Serialization/DiscordComponentJsonConverter.cs
Labels: core, hacktoberfest-accepted

#220 Add missing guild features
  DisCatSharp/Entities/Guild/DiscordGuild.Features.cs
Labels: core
