Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2022-02, with the labels that each got.

#112 AsEphemeral defaults as true
  DisCatSharp/Entities/Interaction/DiscordInteractionResponseBuilder.cs
Labels: bug, enhancement

#115 Implement AutoDefer
  DisCatSharp.ApplicationCommands/ApplicationCommandsConfiguration.cs
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
Labels: enhancement, v9.X

#40 Message Content Intent
  DisCatSharp.Docs/articles/toc.yml
  DisCatSharp/DiscordIntents.cs
Labels: documentation, on-hold, core, v9.X

#119 Event Handling Utility
  DisCatSharp.Docs/articles/beyond_basics/events.md
  DisCatSharp.EventHandlers.Tests/BasicEventHandlerTests.cs
  DisCatSharp.EventHandlers.Tests/DisCatSharp.EventHandlers.Tests.csproj
  DisCatSharp.EventHandlers.Tests/EventsEnumIntegrityTests.cs
  DisCatSharp.EventHandlers.Tests/ServiceProviderTests.cs
  DisCatSharp.sln
  DisCatSharp/Clients/DiscordClient.EventHandlers.cs
  DisCatSharp/DiscordEvent.cs
Labels: enhancement, dependencies, core, v10

#120 Embed Fields Upgrade
  DisCatSharp/Entities/Embed/DiscordEmbedBuilder.cs
  DisCatSharp/Entities/Embed/DiscordEmbedField.cs
Labels: enhancement
