Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2023-03, with the labels that each got.

#275 feat: Application rework
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/Entities/Application/DiscordApplication.cs
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/User/DiscordUser.cs
  DisCatSharp/Entities/Webhook/DiscordWebhookBuilder.cs
  DisCatSharp/Enums/Application/ApplicationDiscoverabilityState.cs
  DisCatSharp/Enums/Application/ApplicationDiscoveryFlags.cs
  DisCatSharp/Enums/Application/ApplicationVerificationState.cs
  DisCatSharp/Enums/Application/RpcApplicationState.cs
  DisCatSharp/Enums/Application/StoreApplicationState.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Abstractions/Rest/RestWebhookPayloads.cs
  DisCatSharp/Net/Abstractions/Transport/TransportApplication.cs
  DisCatSharp/Net/Models/GuildEditModel.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Labels: documentation, enhancement, core, v10

#284 fix: DiscordEmoji operator == add compare name
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
Labels: bug, core

#288 chore(actions): Remove mac os test
  .github/workflows/build.yml
Labels: ci/cd
