Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2023-07, with the labels that each got.

#325 docs: uniform appCommands example code
  DisCatSharp.Docs/articles/modules/application_commands/events.md
  DisCatSharp.Docs/articles/modules/application_commands/intro.md
  DisCatSharp.Docs/articles/modules/application_commands/options.md
  DisCatSharp.Docs/articles/modules/application_commands/translations/using.md
Labels: documentation

#333 Fixed .TryGet methods to follow the out var pattern
  DisCatSharp/Clients/DiscordClient.cs
Labels: core

#336 chore(deps): update dependency dotnet-sdk to v7.0.306
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/documentation.yml
  .github/workflows/documentation_test.yml
  .github/workflows/internal-release.yml
  .github/workflows/release.yml
  DisCatSharp.ApplicationCommands/global.json
  DisCatSharp.Attributes/global.json
  DisCatSharp.CommandsNext/global.json
  DisCatSharp.Common/global.json
  DisCatSharp.Configuration.Tests/global.json
  DisCatSharp.Configuration/global.json
  DisCatSharp.EventHandlers.Tests/global.json
  DisCatSharp.Experimental/global.json
  DisCatSharp.Hosting.DependencyInjection/global.json
  DisCatSharp.Hosting.Tests/global.json
  DisCatSharp.Hosting/global.json
  DisCatSharp.Interactivity/global.json
  DisCatSharp.LavalinkV1/global.json
  DisCatSharp.VoiceNext.Natives/global.json
  DisCatSharp.VoiceNext/global.json
  DisCatSharp/global.json
  global.json
Labels: core, ci/cd

#337 feat: Onboarding & Server Guide
  DisCatSharp/Entities/Guild/DiscordGuild.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboarding.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboardingPrompt.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordOnboardingPromptOption.cs
  DisCatSharp/Entities/Guild/Onboarding/DiscordServerGuide.cs
  DisCatSharp/Entities/Guild/Onboarding/NewMemberAction.cs
  DisCatSharp/Entities/Guild/Onboarding/ResourceChannel.cs
  DisCatSharp/Entities/Guild/Onboarding/WelcomeMessage.cs
  DisCatSharp/Entities/Interaction/DiscordInteraction.cs
  DisCatSharp/Enums/Guild/Onboarding/NewMemberActionType.cs
  DisCatSharp/Enums/Guild/Onboarding/OnboardingMode.cs
  DisCatSharp/Enums/Guild/Onboarding/PromptType.cs
  DisCatSharp/Net/Abstractions/Rest/RestGuildPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Net/Rest/Endpoints.cs
Labels: core

#339 chore: meta
  DisCatSharp.ApplicationCommands/DisCatSharp.ApplicationCommands.csproj.DotSettings
  DisCatSharp.Attributes/DisCatSharp.Attributes.csproj.DotSettings
  DisCatSharp.CommandsNext/DisCatSharp.CommandsNext.csproj.DotSettings
  DisCatSharp.Common/DisCatSharp.Common.csproj.DotSettings
  DisCatSharp.Interactivity/DisCatSharp.Interactivity.csproj.DotSettings
  DisCatSharp.Lavalink/DisCatSharp.Lavalink.csproj.DotSettings
  DisCatSharp.Tools/DisCatSharp.Analyzer/DisCatSharp.Analyzer/DisCatSharp.Analyzer.csproj.DotSettings
  DisCatSharp.VoiceNext.Natives/DisCatSharp.VoiceNext.Natives.csproj.DotSettings
  DisCatSharp.VoiceNext/DisCatSharp.VoiceNext.csproj.DotSettings
  DisCatSharp/DisCatSharp.csproj.DotSettings
Labels: dependencies, core

#340 feat: additional properties for app command registered commands
  DisCatSharp.ApplicationCommands/ApplicationCommandsExtension.cs
  DisCatSharp.ApplicationCommands/Entities/RegisteredDiscordApplicationCommand.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommand.cs
  DisCatSharp/Entities/Application/DiscordApplicationCommandOption.cs
Labels: enhancement, core
