Repository Aiko-IT-Systems/DisCatSharp, pull requests merged in 2024-07, with the labels that each got.

#523 feat: message forwarding
  DisCatSharp.CommandsNext/CommandsNextExtension.cs
  DisCatSharp/Clients/DiscordClient.Dispatch.cs
  DisCatSharp/Entities/Message/DiscordForwardedMessage.cs
  DisCatSharp/Entities/Message/DiscordMessage.cs
  DisCatSharp/Entities/Message/DiscordMessageReference.cs
  DisCatSharp/Entities/Message/DiscordMessageSnapshots.cs
  DisCatSharp/Entities/User/DiscordConnection.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  DisCatSharp/Utilities.cs
Labels: documentation, enhancement, core, v10, experimental

#525 feat: Application Emojis
  DisCatSharp/Clients/BaseDiscordClient.cs
  DisCatSharp/Clients/DiscordClient.cs
  DisCatSharp/DiscordConfiguration.cs
  DisCatSharp/Entities/Application/DiscordApplicationEmoji.cs
  DisCatSharp/Entities/Emoji/DiscordEmoji.cs
  DisCatSharp/Net/Abstractions/Rest/RestApplicationPayloads.cs
  DisCatSharp/Net/Rest/DiscordApiClient.cs
  RELEASENOTES.md
Labels: enhancement, core, v10

#528 fix: Thread-Safe Internal Dictionaries
  DisCatSharp/Clients/DiscordClient.cs
Labels: bug
